body{
    color: black;
   background-image: url(/kepek/hatter_jo.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: repeat;
  }

.cstumecarusel {
    margin-bottom: 5%;
}
.card{
    margin-bottom: 2%;
}

.footercstm{
    margin-top: 1%;
    border-top: solid black 2px
}

.buttoncstm{
    margin-top: 3%;
}

.video{
    width: 100%;
}
