body{
    color: black;
   background-image: url(/kepek/hatter_jo.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: repeat;
   overflow-x: hidden;
   height: 100%;
  }

.cstumecarusel {
    margin-bottom: 5%;
}
.card{
    margin-bottom: 2%;
}

.footercstm{
    margin-top: 2%;
    border-top: solid black 2px
    
}

.buttoncstm{
    margin-top: 3%;
}

.video{
    width: 100%;   
}

.submit {
    width: 20%;
    margin-left: 41%;
    margin-bottom: 5%;
}

.visszagomb{
    text-decoration: none;
    text-align: center;
}

.visszagomb2{
    text-align: center;
    margin-top: 20%;
}

.infok{
    text-align: center;
    margin-bottom: 3%;
    border-style: double;
    border-width: -20%;
}

.szoveg{
    color:black;
   font-size: large;
    text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;

}


.visszaetlap{
    margin-top: 100px;
}

.stockvids{
    margin-top: 3%;
}

.rizsa{
    margin-top: 10%;
}

.cimek{
    margin-top: 80px;
}

.table{
  margin-left: 13%;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table td, .table th{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.table tr:nth-child(even) {
    background-color: #dddddd;
  }

.submit{
    margin-left: 41%;
}


